body{
background-color: rgb(238, 234, 234);
}
h1{
text-align: center;
border-bottom: rgb(218, 32, 32);
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
text-decoration-line: underline;

animation-name: none;
}
header{
    
    background-color: rgb(0, 118, 139);

}
nav ul{

    box-sizing: border-box;
    padding: 0;
    list-style-type: none;
    width: 100%;
    flex-direction: row;
    display:flex;
    justify-content: space-around;
}
nav ul li a{
text-decoration: none;
color: white;
}
nav ul li a:hover{
cursor: pointer;
color: black;
border-bottom: 2px solid black;


}

#seção1{
float: left;
text-align: left;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
.noticias{

display: flex;
    flex-direction: row;
  
text-align: justify;

}
img{

    margin: 25px 25px 25px 25px;



}
p{
font-size: 110%;


}

#imagem {
 margin: 25px 25px 25px 25px;
}

h3{

    font-size: 110%;

}
#linha-horizontal {
    width: 1330px;
    border: 1px solid #000;
}
#rodape{

background-color:brown;
text-align: center;
position: absolute;
width: 1340px;

}
