body{
    background-color: rgb(238, 234, 234);
}


h1{
 color: darkorange;
 font-size: 50px;
text-align: center;
}


#linha-horizontal {
    width: 1300px;
    border: 1px solid #000;
}



#rodape{

background-color:brown;
text-align: center;
position: absolute;
width: 1340px;

}
#video{

text-align: center;

}
.containertexto{

    text-align: justify;
    font-size: 25px;
}