.noticias1{
    font-size: 10px;
    display: flex;
   text-align: right;
    text-align: justify;
}


.textos{

    display: flex;
    flex-direction: row-reverse;
    text-align: right;

}

#linha-horizontal {
    width: 1330px;
    border: 1px solid #000;
}
.imagens{
 text-align: right;
    margin: 25px 25px 25px 25px;
}
p{

    font-size: 20px;


}
#rodape{

    background-color:brown;
    text-align: center;
    position: absolute;
    width: 1340px;
    
    }
 h3{

color: darkblue;
text-align: center;
font-size: 30px;

 }
 h4{
    flex-direction: row-reverse;
    display: flex;
    font-size: 15px;
}
#video{

   
    text-align: center;
}
#not{

    font-size: 20px;

}