body{
        background-color: rgb(238, 234, 234);
    }


#linha-horizontal {
    width: 1330px;
    border: 1px solid #000;
    
}
h1{

    color: darkred;
    font-size: 50px;
    text-align: center;

}
.container1{

    display: flex;
    flex-direction: row-reverse;
    text-align: justify;
}
.container2{

    display: flex;
    flex-direction: row-reverse;
    text-align: justify;


}

#conatiner3{

    display: flex;
    flex-direction: row-reverse;
    margin-right: 30px;
    text-align: justify;

}

#img{

margin-right:25px;
margin-left: 25px;

}

#img2{

margin-left: 25px;
margin-right:25px;
}


#video{


    margin: 25px;
}
#rodape{

    background-color:brown;
    text-align: center;
    position: absolute;
    width: 1340px;
    
    }